node_modules/
.git/
ios/Pods/
android/.gradle/
android/app/build/
ios/build/
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/
.expo/
*.tsbuildinfo
*.hmap
*.ipa
*.dSYM.zip
*.log
npm-debug.log*
yarn-error.log*
yarn-debug.log*
.cache/
__pycache__/
*.pyc
